# Python Assignment 1
## Atomcamp | Data Science Bootcamp | Cohort 7
### Muhammad Mubashir Quadri

#### [Question1]

a) Create a string variable called my_str containing the following sentence: Python programming is fun and powerful! <br>
b) Find the length of my_str. <br>
c) Replace "fun" in my_str with "exciting." Store this back in my_str and print my_str <br>
d) Find the index of the word powerful in my_str <br>
e) Split the string into a list of words (google which function can help you do this). Store this in my_str_to_list and print it

In [1]:
# create my_str below

my_str='Python programming is fun and powerful!'

In [2]:
# find out the length of my_str. no need to store this anywhere

print(len(my_str))

39

In [3]:
# update my_str so it has the word exciting instead of fun. print my_str at the end
my_str = my_str.replace("fun", "exciting")
my_str

'Python programming is exciting and powerful!'

In [4]:
# find the index of the word powerful in my_str

index = my_str.find("powerful")
index

35

In [5]:
# create my_str_to_list and store my_str split into a list of words in this. print my_str_to_list

my_str_to_list = my_str.split()
my_str_to_list

['Python', 'programming', 'is', 'exciting', 'and', 'powerful!']

#### [Question2]
Given a variable called Celsius with the value 108.6, convert it to Fahrenheit. Google the formula for celcius to fahrenheit conversion. Print out Fahrenheit.

In [6]:
Celsius = 108.6

  #(0°C × 9/5) + 32 = 32°F

Fahrenheit = Celsius* 9/5+32


#print out Fahrenheit below
Fahrenheit

227.48

#### [Question3]

A university wants to write a program that will help them decide the eligibility of each applicant. The conditions are:
- all admits must be 18 or older in age
- if their GPA is 3.0 or above, they are eligible. If their GPA is 2.8 or above, they are eligible based on a performance test. Otherwise they are not eligible.


Given the three lists names, ages and GPA:

Write a for loop that will print out the following three things in each iteration:

- Student (insert name) has age (insert age) and GPA (insert GPA)
- Eligible for admission/ Eligible for admission based on performance test/ Not eligible for admission
- New line

example:

Student Hassan Ali has age 19 and GPA 3.0 <br>
Eligible for admission

In [7]:
names = ['Hassan Ali', 'Rabbiya Sarmad', 'Zara Haq', 'Hussain Rafay', 'Dua Hamid']
ages = [19, 17, 15, 21, 18, 20]
GPA = [3.0, 3.9, 2.5, 3.1, 2.9]


# Write your for loop below:

for i in range (len(names)):
  print(names[i], "has age", ages[i], "and GPA", GPA[i])
  if ages[i] < 18 or GPA[i]<2.8:
    print("Not Eligible\n\n")
  elif GPA[i]<3 and GPA[i]>=2.8:
    print("Performance Test\n\n")
  else:
    print("Eligible for Admission\n\n")

Hassan Ali has age 19 and GPA 3.0
Eligible for Admission


Rabbiya Sarmad has age 17 and GPA 3.9
Not Eligible


Zara Haq has age 15 and GPA 2.5
Not Eligible


Hussain Rafay has age 21 and GPA 3.1
Eligible for Admission


Dua Hamid has age 18 and GPA 2.9
Performance Test

#### [Question 4]

Given the following list called numbers:

a) Convert it into a tuple and print it. <br>
b) Calculate the sum of this tuple. Store it in sum_numbers. print sum_numbers <br>
c) Using slicing, fetch every odd indexed element from numbers <br>
d) Create new **lists** called evens and odds. Using ONE for loop, add every even integer from the numbers tuple to evens and every odd number to odds. in the end, print numbers, evens and odds. <br>
e) Would it be possible to do this if evens and odds were tuples instead of lists?

In [8]:
numbers =  [12, 34, 45, 67, 89, 100, 23, 56]

#convert numbers into a tuple below and print numbers

numbers = tuple(numbers)
numbers

(12, 34, 45, 67, 89, 100, 23, 56)

In [9]:
# create sum_numbers and store the sum of numbers in it. print sum_numbers
sum_numbers = sum(numbers)
sum_numbers

426

In [10]:
# fetch every odd indexed element from numbers below. No need to store this anywhere, just show output

print(numbers[1::2])

(34, 67, 100, 56)

In [11]:
numbers

(12, 34, 45, 67, 89, 100, 23, 56)

In [12]:
# create empty lists called evens and odds below:
evens=[]
odds=[]

# write a single for loop to add integers from the numbers tuple to evens and odds lists below:
for i in range(len(numbers)):
  if numbers[i]%2==0:
    evens.append(numbers[i])
  else:
    odds.append(numbers[i])



# print out numbers, evens and odd below
print('numbers:', numbers,
      'odds', odds,
      'evens', evens)

numbers: (12, 34, 45, 67, 89, 100, 23, 56) odds [45, 67, 89, 23] evens [12, 34, 100, 56]

In [13]:
# comment if the above would be possible to do if evens and odds were tuples instead of lists?

## No, because tuples are immutable

#### [Question 5]

a) Create a dictionary named "capitals" with three key-value pairs: "USA" - "Washington DC", "France" - "Paris",  and "Japan" - "Tokyo". Print the dictionary. <br>
b) Add a new country and its capital to the "capitals" dictionary. The country is "Germany" and the capital is "Berlin". Print the updated dictionary. <br>
c) Check if "France" exists in the "capitals" dictionary. If it does, print "France is in the dictionary" otherwise, print "France is not in the dictionary" (hint: you will need to use the keyword in)

In [14]:
# create the dictionary capitals below with its key:value pairs and print it

Capitals= {"USA":"Washington DC", "France":"Paris", "Japan":"Tokyo"}
print(Capitals)

{'USA': 'Washington DC', 'France': 'Paris', 'Japan': 'Tokyo'}

In [15]:
# add germany to capitals below and print updated dictionary

Capitals["Germany"] = "Berlin"
Capitals

{'USA': 'Washington DC',
 'France': 'Paris',
 'Japan': 'Tokyo',
 'Germany': 'Berlin'}

In [16]:
# check if france is in the dictionary and print "France is in the dictionary" or "France is not in the dictionary"

if 'France' in Capitals:
  print("France is in the dictionary")
else:
  print("France is not in the dictionary")

France is in the dictionary

#### [Question 6]

The factorial of a number is as follows:

factorial of 0 i.e. 0! is 1 <br>
factorial of 1 i.e. 1! is 1 <br>
factorial of 2 i.e. 2! is 2x1 <br>
factorial of 3 i.e. 3! is 3x2x1 <br>
factorial of 7 i.e. 7! is 7x6x5x4x3x2x1 <br>

Write a program using a FOR loop to find the factorial of num and print out the result at the end

In [17]:
num = 10
fact=1

#write your for loop program below and only print out the result of num! at the end

for q in range(num,1,-1):
  fact*=q
print(fact)

3628800

Now rewrite the program using a WHILE loop

In [18]:
num = 10
fact=1
#write your while loop program below and only print out the result of num! at the end
while num!=0:
  fact=fact*num
  num=num-1
print(fact)

3628800

Convert either one of the above programs into a function called **factorial()** that takes in a number and returns its factorial.

In [19]:
#write your function below

def factorial(num):
    fact=1
    while num!=0:
        fact=fact*num
        num=num-1
    return fact
print(fact)

3628800

Call this factorial function on the numbers 0, 1, 8 and 10 and print each result (no need to store in variables). Is your function working fine for 0! and 1! ?

In [20]:
factorial(10)

3628800

In [21]:
factorial(8)

40320

In [22]:
factorial(1)

1

In [23]:
factorial(0)

1

Call factorial on the number 6 and store its result in a variable called factorial_6. Print factorial_6

In [24]:


factorial_6=factorial(6)

#### [Question 7]

Write a loop that converts the following two lists into one dictionary like so:
{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Forty': 40}. Print out this dictionary at the end.

In [25]:
keys = ['Ten', 'Twenty', 'Thirty', 'Forty']
values = [10, 20, 30, 40]


#write your program below

result_dict = dict(zip(keys, values))
result_dict

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Forty': 40}

Now use the code above and write a function **convert_to_dict()**, that takes in 2 lists and combines them into a dictionary and returns that dictionary. <br>
1) **INSIDE** this function, first add a check to ensure that the two lists are of equal length. If the input lists are not of equal length, you should return an empty dictionary and print a message saying "list lengths are not the same". <br>
2) set this function's defaults to empty lists. Doing this should return an empty dictionary if the function is called with no arguments.

In [26]:
keys,values=[],[]
k,v=0,0
while k!='x':
    k=input('Enter the first list of keys, or press x to cancel:  ')
    keys.append(k)
while v!='x':
    v=input('Enter the values, or press x to cancel:  ')
    values.append(v)
if len(keys)==len(values):
    result_dict = dict(zip(keys, values)) 
    print(result_dict)
else:
    result_dict={}
    print('list lengths are not the same')

list lengths are not the same

In [27]:
def convert_to_dict(keys=[], values=[]):

    if len(keys) != len(values):
        print("List lengths are not the same")
        return {}

    result_dict = {}
    for i in range(len(keys)):
        result_dict[keys[i]] = values[i]

    return result_dict

Call the function convert_to_dict on the two lists below, and store the resulting dictionary in a variable fruit_prices. Print fruit_prices.

In [28]:
lstA = ['Orange', 'Tomato', 'Banana', 'Apple']
lstB = [34, 5, 10, 38]

#call convert_to_dict on lstA and lstB and store the result in fruit_prices

convert_to_dict(lstA, lstB)

{'Orange': 34, 'Tomato': 5, 'Banana': 10, 'Apple': 38}

Call the function convert_to_dict on the two lists below

In [29]:
lstC = ['Orange', 'Tomato', 'Banana', 'Apple', 'Mango', 'Watermelon']
lstD = [34, 5, 10, 38]

#call convert_to_dict on lstC and lstD

convert_to_dict(lstC, lstD)

List lengths are not the same

{}

Call the function convert_to_dict with no arguments

In [30]:
#call convert_to_dict with no arguments

convert_to_dict()

{}

Now, convert the following two lists into a single dictionary but this time, **use dictionary comprehension.** (consult your session 5 notebook). Print out the dictionary at the end.

In [31]:
#Now, convert the following two lists into a single dictionary but this time, use dictionary comprehension. Print out the dictionary at the end.

keys = ['Ten', 'Twenty', 'Thirty', 'Forty']
values = [10, 20, 30, 40]

dictionary =  {key: value for key, value in zip(keys, values)}
dictionary

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Forty': 40}

#### [QUESTION 8]

Here is a while loop number guessing game. Change the code according to the following:

1) Set an answer <br>
2) Give the user **five** guesses <br>
3) First msg should read "Please enter your first guess: " <br>
4) At each guess, tell the user if their guess is too high or too low. your msg should read "too high! try again: " or "too low! try again: ". <br>
5) However, if the difference between the guess and answer is 3 points or less in either direction, your msg should read "very close! go higher: " or "very close! go lower: ". <br>
6) If the player loses, show "Sorry, you lost! The answer was __" <br>
7) If the player wins, show "Congratulations! You guessed it!"


(play it with different values of answer to test it)

In [32]:
#change the following game according to the guidelines above

answer = 50
#guesses = 3
guesses = 5
user_input= int(input("Please enter your first guess: "))


while user_input != answer:

    guesses -= 1

    if guesses == 0:
        print("you lost. Sorry!")
        break
    elif user_input - answer > 3:
        user_input = int(input("Too high! Try again: "))
    elif user_input - answer < -3:
        user_input = int(input("Too low! Try again: "))
    elif 1 <= user_input - answer <= 3:
        user_input = int(input("Very close! Go lower: "))
    elif -3 <= user_input - answer <= -1:
        user_input = int(input("Very close! Go higher: "))

else:

    print("congratulations! you won!")

congratulations! you won!

#### [QUESTION 9]

Design a function called **case_check()**. this function should take a string as an input and return a dictionary giving the count of uppercase and lowercase letters in the string. for example:

case_check("I aM goInG OuT!") should return {'Upper': 6, 'Lower': 5}

In [38]:
#write your function below

def case_check(string):
    upper = 0
    lower = 0
    for i in string:
        if i.isupper():
            upper += 1
        elif i.islower():
            lower += 1
    return {"UPPER": upper, "LOWER": lower}

Test case_check on the following strings and print out the result of each string. No need to store in variables.

In [40]:
string1 = 'tHIs IS a PytHoN cLAss!'
string2 = 'Ab%4DcP432'
string3 = 'HellO! WhAt cAn I do FoR yOu?'


#below, call case_check on each of the above strings


r1=case_check(string1)
r2=case_check(string2)
r3=case_check(string3)
print(r1,r2,r3)

{'UPPER': 9, 'LOWER': 9} {'UPPER': 3, 'LOWER': 2} {'UPPER': 9, 'LOWER': 12}

#### [QUESTION 10]

Design a function called **square()** that takes in any number of integers as arguments and **prints** out the square of each argument. You should be able to flexibly give this function any number of arguments. for example

square(1,7,-4,2) should print the following:

square of 1 is 1 <br>
square of 7 is 49 <br>
square of -4 is 16 <br>
square of 2 is 4 <br>

In [35]:
#write your function below
def square(*args):
    for num in args:
        print("Square of", num, "is", num**2)

Test your function with the following calls:

In [36]:
square(1, 7, -4, 2)
print("\n")

square(10, -9, 0)
print("\n")

square(2,3)
print("\n")

square()
print("\n")

Square of 1 is 1
Square of 7 is 49
Square of -4 is 16
Square of 2 is 4


Square of 10 is 100
Square of -9 is 81
Square of 0 is 0


Square of 2 is 4
Square of 3 is 9

#### [Question 11]

Using a lambda function with map, return a list that contains areas of circles with the following radii (use 3.14 for pi). Print out the areas list.

Remember: you will need to give map a lambda function and a list to apply the lambda function to. Also, to get a list instead of a map object, you need to put map inside the list function.

list(map(**your lambda function**, **your list**))

In [37]:
radii = [3, 5, 6, 10]

areas = list(map(lambda r: 3.14 * r ** 2, radii))


#print out areas below
print(areas)

[28.26, 78.5, 113.04, 314.0]